@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=greek-ext');


 .form-full{
	background-image: url("https://i.pinimg.com/564x/4b/50/77/4b5077efab2550b8c02fe44159a39a38.jpg");
	background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
	min-height:100vh;
	font-family: 'Noto Sans', sans-serif;
} 



.title-form{
	color:#fff;	
	text-transform:uppercase;
    font-size: 23px;
    display: block;
    text-align: center;
}

.box{
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.89);
	border-radius:3px;
	padding:70px 100px;
}

.input-container{
	position:relative;
	margin-bottom:5px;
}

.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:#fff;	
    pointer-events:none;
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#fff;
  margin-top: 20px;
}

.input-container select{ 
    border:0;
    border-bottom:1px solid #555;  
    background:transparent;
    width:100%;
    padding:8px 0 5px 0;
    font-size:16px;
    color:#fff;
    margin-top: 20px;
  }

  .input-container select option{ 
    border:0;
    border-bottom:1px solid #555;  
    background: #ceb942;
    width:100%;
    padding:8px 0 5px 0;
    font-size:16px;
    color: #fff;
    margin-top: 20px;
    font-weight: bold;
  }

  
.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #ceb942;	
}


.btn{
	color:#fff;
	background-color:#ceb942;
	outline: none;
    border: 0;
    color: #fff;
	padding:10px 20px;
	text-transform:uppercase;
	margin-top:50px;
	border-radius:2px;
	cursor:pointer;
	position:relative;
    margin-left: 10px;
}

.btn:hover{
	color:#fff;
	background-color:#a89420;

}

textarea {
    margin-top: 30px;
    resize: none;
}

.errors {
    color: red;
    margin-top: 10px;
}

.option-selected {
    margin-top: 10px;
    color: wheat;
}

.option-selected button {
    background-color: red;
    font-weight: bold;
    margin-left: 10px;
    padding: 4px;
    color: white;
    border: 1px solid white;
    border-radius: 40%;
}
  


.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-12px;
	font-size:12px;
	
}

@media (max-height: 768px) {
    .box{
        padding:40px 90px;
    }
    textarea {
        height: 30px;
    }
  }

