.selects-order {
    padding: 20px;
    
}

select {
    padding: 8px;
    margin-left: 15px;
}

select option{ 
    border:0;
    border-bottom:1px solid #555;  
    background: #ceb942;
    width:100%;
    padding:8px 0 5px 0;
    font-size:16px;
    color: black;
    margin-top: 20px;
  }